<?xml version="1.0"?>
<config>
	<modules>
		<AnattaDesign_SetCookieFix>
			<version>1.0.0</version>
		</AnattaDesign_SetCookieFix>
	</modules>

	<global>
		<helpers>
			<setcookiefix>
				<class>AnattaDesign_SetCookieFix_Helper</class>
			</setcookiefix>
		</helpers>

		<models>
			<setcookiefix>
				<class>AnattaDesign_SetCookieFix_Model</class>
			</setcookiefix>
		</models>

		<events>
			<http_response_send_before>
				<observers>
					<setcookiefix>
						<type>singleton</type>
						<class>setcookiefix/observer</class>
						<method>httpResponseSendBefore</method>
					</setcookiefix>
				</observers>
			</http_response_send_before>
		</events>
	</global>
</config>